version: '2'
services:
 nginx:
   image: nginx:1
   volumes:
    - ./www:/usr/share/nginx/html
    - ./default.conf:/etc/nginx/conf.d/default.conf
   depends_on:
    - php
   ports:
    - "18080:80"
 php:
   image: php:7.2.10-fpm
   volumes:
    - ./www:/var/www/html
   ports:
    - "9000:9000"